@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    height: 100%;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.appContainer{
    @apply grid grid-rows-[auto_1fr_auto] h-[100dvh];
}