/* Import FontAwesome icons */
@import '@fortawesome/fontawesome-free/css/all.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

img{
    max-width: 100%;
    display: block;
    margin:auto;
}

/* Add any global styles here if necessary */
.accordion {
    width: 80%;
    margin: auto;
  }
  
  .accordion-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  
  .accordion-header {
    background-color: #f1f1f1;
  }
  
  .accordion-content {
    background-color: #fafafa;
  }

  /* Basic styles for the tabs container */
.tabs-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
  }
  
  /* Tab headers (buttons) styling */
  .tab-header {
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .tab-header:hover {
    background-color: #e0e0e0;
  }
  
  /* Active tab header styling */
  .tab-header.active {
    background-color: #3498db;
    color: white;
    font-weight: bold;
  }
  
  /* Tab content styling */
  .tab-content {
    padding: 15px;
    border-top: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  