@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.active{
    background-color: red;
}

.appContainer {
    display: grid;
    @apply grid grid-rows-[auto_1fr_40px] h-screen;
}