.animated {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .wrapper {
    width: 400px;
    height: 400px;
    background: #fff;
    position: relative;
    overflow: hidden;
  }
  .wrapper div {
    position: absolute;
    filter: blur(50px);
    opacity: 0.8;
    -webkit-filter: blur(50px);
  }
  .animated .one {
    border-radius: 100%;
    width: 600px;
    height: 600px;
    background-color: #a960ee;
    left: -50px;
    top: -300px;
    z-index: 3;
    animation: fly 12s linear infinite;
    transform: rotate(0) translate(80px) rotate(0);
  }
  .animated .two {
    width: 500px;
    height: 800px;
    background-color: #ff333d;
    bottom: -30px;
    left: -80px;
  }
  .animated .three {
    border-radius: 100%;
    width: 450px;
    height: 450px;
    bottom: -80px;
    right: -100px;
    background-color: #ffcb57;
    animation: flyPlus 10s linear infinite;
    -webkit-animation: flyPlus 10s linear infinite;
    transform: rotate(0) translate(200px) rotate(0);
    -webkit-transform: rotate(0) translate(200px) rotate(0);
    -moz-transform: rotate(0) translate(200px) rotate(0);
    -ms-transform: rotate(0) translate(200px) rotate(0);
    -o-transform: rotate(0) translate(200px) rotate(0);
  }
  .four {
    border-radius: 100%;
    width: 350px;
    height: 350px;
    margin: auto;
    bottom: 0;
    right: 0;
    background-color: #90e0ff;
    animation: flyPlus 15s linear infinite;
    -webkit-animation: flyPlus 15s linear infinite;
    transform: rotate(0) translate(200px) rotate(0);
    -webkit-transform: rotate(0) translate(200px) rotate(0);
    -moz-transform: rotate(0) translate(200px) rotate(0);
    -ms-transform: rotate(0) translate(200px) rotate(0);
    -o-transform: rotate(0) translate(200px) rotate(0);
  }
  .animated .wrapper .text {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    opacity: 1;
    filter: unset;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @keyframes fly {
    100% {
      transform: rotate(2turn) translate(200px) rotate(-2turn);
      -webkit-transform: rotate(2turn) translate(200px) rotate(-2turn);
      -moz-transform: rotate(2turn) translate(200px) rotate(-2turn);
      -ms-transform: rotate(2turn) translate(200px) rotate(-2turn);
      -o-transform: rotate(2turn) translate(200px) rotate(-2turn);
  }
  }
  @keyframes flyPlus {
    100% {
      transform: rotate(-2turn) translate(200px) rotate(2turn);
      -webkit-transform: rotate(-2turn) translate(200px) rotate(2turn);
      -moz-transform: rotate(-2turn) translate(200px) rotate(2turn);
      -ms-transform: rotate(-2turn) translate(200px) rotate(2turn);
      -o-transform: rotate(-2turn) translate(200px) rotate(2turn);
  }
  }